#!/bin/bash
# openssl enc -base64 -aes-256-cbc -e -in test/integration/credentials.json -out test/integration/credentials.json.enc -md md5 -k ${VAULT_PASSWORD}
export VAULT_PASSWORD=XXX

export QA_AWS_ACCESS_KEY=XXX
export QA_AWS_SECRET_KEY=XXX
export QA_AWS_BUCKET=XXX
export QA_AWS_ENDPOINT=https://XXX/
export QA_AWS_REGION=XXX
export QA_GCS_OVER_S3_ACCESS_KEY=XXXX
export QA_GCS_OVER_S3_SECRET_KEY=XXXX
export QA_GCS_OVER_S3_BUCKET=XXX

# QA_GCS_CRED_JSON='{     "type": "service_account",     "project_id": "XXXX",     "private_key_id": "XXXXX",     "private_key": "SSH KEY XXXX",     "client_email": "XXXX",     "client_id": "XXXX",     "auth_uri": "https://accounts.google.com/o/oauth2/auth",     "token_uri": "https://oauth2.googleapis.com/token",     "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",     "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/<client_email_url_encoded>"   }'
export QA_GCS_CRED_JSON=""
export QA_GCS_CRED_JSON_ENCODED=$(echo '{     "type": "service_account",     "project_id": "XXXX",     "private_key_id": "XXXXX",     "private_key": "SSH KEY XXXX",     "client_email": "XXXX",     "client_id": "XXXX",     "auth_uri": "https://accounts.google.com/o/oauth2/auth",     "token_uri": "https://oauth2.googleapis.com/token",     "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",     "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/<client_email_url_encoded>"   }' | base64 -w 0 )
export GOCOVERDIR=${PWD}/test/integration/_coverage_
