name: Build

on:
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang-version:
          - "1.18"
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Setup golang
        id: setup-go
        uses: actions/setup-go@v2
        with:
          go-version: '^${{ matrix.golang-version }}'

      - name: Cache golang
        id: cache-golang
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-${{ matrix.golang-version }}-golang-${{ hashFiles('go.mod') }}

      - name: Install golang dependencies
        run: go mod download -x
        if: |
          steps.cache-golang.outputs.cache-hit != 'true'


      - name: Build clickhouse-backup binary
        id: make
        env:
          GOROOT: ${{ env.GOROOT_1_17_X64 }}
        run: |
          make build-race
          make build/linux/amd64/clickhouse-backup build/linux/arm64/clickhouse-backup
          make config
          make test


      # be careful with encrypt with old OpenSSL - https://habr.com/ru/post/535140/
      # openssl enc -base64 -aes-256-cbc -e -in test/integration/credentials.json -out test/integration/credentials.json.enc -md md5 -k ${VAULT_PASSWORD}
      - name: Decrypting credentials for Google Cloud Storage
        id: secrets
        env:
          VAULT_PASSWORD: ${{ secrets.VAULT_PASSWORD }}
        run: |
          if [[ "" != "${VAULT_PASSWORD}" ]]; then
            openssl version
            openssl enc -base64 -aes-256-cbc -d -in test/integration/credentials.json.enc -out test/integration/credentials.json -md md5 -k ${VAULT_PASSWORD}
          fi
          echo "::set-output name=GCS_TESTS::$(if [ -z "${{ secrets.VAULT_PASSWORD }}" ]; then echo "false"; else echo "true"; fi)"

      - uses: actions/upload-artifact@v3
        with:
          name: build-gcp-credentials
          path: |
            test/integration/credentials.json
          if-no-files-found: error
          retention-days: 1
        if: |
          steps.secrets.outputs.GCS_TESTS == 'true'

      - uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: |
            build/linux/amd64/clickhouse-backup
            build/linux/arm64/clickhouse-backup
          if-no-files-found: error
          retention-days: 1

      - uses: actions/upload-artifact@v3
        with:
          name: build-test-artifacts
          path: |
            clickhouse-backup/clickhouse-backup
            clickhouse-backup/clickhouse-backup-race
          if-no-files-found: error
          retention-days: 1
    outputs:
      GCS_TESTS: ${{ steps.secrets.outputs.GCS_TESTS }}

  testflows:
    needs: build
    name: Testflows
    runs-on: ubuntu-latest
    strategy:
      matrix:
        clickhouse:
          - '22.3'
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - uses: actions/download-artifact@v3
        with:
          name: build-test-artifacts
          path: ./clickhouse-backup/

      - name: Cache python
        uses: actions/cache@v2
        id: cache-python
        with:
          path: ~/venv/qa
          key: python-${{ hashFiles('test/testflows/requirements.txt') }}

      - name: Install python dependencies
        run: |
          set -x
          python3 -m venv ~/venv/qa
          ~/venv/qa/bin/pip3 install -U -r ./test/testflows/requirements.txt
        if: |
          steps.cache-python.outputs.cache-hit != 'true'

      - name: Running TestFlows tests
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
          QA_AWS_ACCESS_KEY: ${{ secrets.QA_AWS_ACCESS_KEY }}
          QA_AWS_ENDPOINT: ${{ secrets.QA_AWS_ENDPOINT }}
          QA_AWS_SECRET_KEY: ${{ secrets.QA_AWS_SECRET_KEY }}
          QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
          QA_AWS_BUCKET: ${{ secrets.QA_AWS_BUCKET }}
          QA_GCS_CRED_JSON: ${{ secrets.QA_GCS_CRED_JSON }}
        run: |
          set -x

          chmod +x $(pwd)/clickhouse-backup/clickhouse-backup*
          sudo ln -snvf ~/venv/qa/bin/tfs /bin/tfs

          export CLICKHOUSE_TESTS_DIR=$(pwd)/test/testflows/clickhouse_backup
          ~/venv/qa/bin/python3 ./test/testflows/clickhouse_backup/regression.py --log ./test/testflows/raw.log
          ~/venv/qa/bin/tfs --debug --no-colors transform compact ./test/testflows/raw.log ./test/testflows/compact.log
          ~/venv/qa/bin/tfs --debug --no-colors transform nice ./test/testflows/raw.log ./test/testflows/nice.log.txt
          ~/venv/qa/bin/tfs --debug --no-colors transform short ./test/testflows/raw.log ./test/testflows/short.log.txt
          ~/venv/qa/bin/tfs --debug --no-colors report results -a "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}/" ./test/testflows/raw.log - --confidential --copyright "Altinity LTD" --logo ./test/testflows/altinity.png | ~/venv/qa/bin/tfs --debug --no-colors document convert > ./test/testflows/report.html
          sudo chmod -Rv +rx test/testflows/clickhouse_backup/_instances
      - name: Upload testflows logs
        uses: actions/upload-artifact@v3
        with:
          name: testflows-logs-and-reports
          path: |
            test/testflows/*.log
            test/testflows/*.log.txt
            test/testflows/clickhouse_backup/_instances/**/*.log
            test/testflows/*.html
          retention-days: 7

  test:
    needs: build
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang-version:
          - "1.18"
        clickhouse:
          - '1.1.54390'
          - '19.17'
          - '20.3'
          - '20.8'
          - '21.3'
          - '21.8'
          - '22.3'
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Setup golang
        id: setup-go
        uses: actions/setup-go@v2
        with:
          go-version: '^${{ matrix.golang-version }}'

      - name: Cache golang
        id: cache-golang
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-${{ matrix.golang-version }}-golang-${{ hashFiles('go.mod') }}

      - uses: actions/download-artifact@v3
        with:
          name: build-test-artifacts
          path: ./clickhouse-backup/

      - uses: actions/download-artifact@v3
        with:
          name: build-gcp-credentials
          path: ./test/integration/
        if: |
          needs.build.outputs.GCS_TESTS == 'true'

      - name: Running integration tests
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
          # RUN_TESTS: "TestSkipNotExistsTable"
          # LOG_LEVEL: "debug"
          # FTP_DEBUG: "true"
          CGO_ENABLED: 0
          GCS_TESTS: ${{ needs.build.outputs.GCS_TESTS }}
          # RUN_ADVANCED_TESTS: 1
        run: |
          set -x
          echo "CLICKHOUSE_VERSION=${CLICKHOUSE_VERSION}"
          echo "GCS_TESTS=${GCS_TESTS}"

          chmod +x $(pwd)/clickhouse-backup/clickhouse-backup*

          if [[ "${CLICKHOUSE_VERSION}" =~ 2[2-9]+ ]]; then
            export CLICKHOUSE_IMAGE=clickhouse/clickhouse-server
          else
            export CLICKHOUSE_IMAGE=yandex/clickhouse-server
          fi

          if [[ "${CLICKHOUSE_VERSION}" == 2* ]]; then
            export COMPOSE_FILE=docker-compose_advanced.yml
          else
            export COMPOSE_FILE=docker-compose.yml
          fi
          export CLICKHOUSE_BACKUP_BIN="$(pwd)/clickhouse-backup/clickhouse-backup-race"
          docker-compose -f test/integration/${COMPOSE_FILE} up -d minio
          sleep 3
          docker-compose -f test/integration/${COMPOSE_FILE} up -d clickhouse
          docker-compose -f test/integration/${COMPOSE_FILE} ps -a
          go test -timeout 30m -failfast -tags=integration -run "${RUN_TESTS:-.+}" -v test/integration/integration_test.go

  docker:
    needs:
      - test
      - testflows
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: ./build/linux/

      - name: Extract DOCKER_TAG version
        id: docker_tag
        run: |
          DOCKER_TAG=${GITHUB_REF##*/}
          export DOCKER_TAG=${DOCKER_TAG##*\\}
          echo "::set-output name=docker_tag::${DOCKER_TAG:-dev}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Building docker image
        env:
          DOCKER_REPO: ${{ secrets.DOCKER_REPO }}
          DOCKER_IMAGE: ${{ secrets.DOCKER_IMAGE }}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          DOCKER_TAG: ${{ steps.docker_tag.outputs.docker_tag }}
        run: |
          if [[ "${DOCKER_TOKEN}" != "" ]]; then
            export DOCKER_REGISTRY=${DOCKER_REGISTRY:-docker.io}
            echo ${DOCKER_TOKEN} | docker login -u ${DOCKER_USER} --password-stdin ${DOCKER_REGISTRY}
            docker buildx build --platform=linux/amd64,linux/arm64 -t ${DOCKER_REGISTRY}/${DOCKER_REPO}/${DOCKER_IMAGE}:${DOCKER_TAG} --pull --push .
          fi

  cleanup:
    name: Cleanup
    needs: docker
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: delete build-artifacts
        uses: geekyeggo/delete-artifact@v1
        with:
          name: build-artifacts
          failOnError: false

      - name: delete build-gcp-credentials
        uses: geekyeggo/delete-artifact@v1
        with:
          name: build-gcp-credentials
          failOnError: false
